<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Books</title>
    <link rel="stylesheet" href="search-details.component.scss">
</head>
<body>
<div class="search-container">
  <h1>MyLibrary</h1>
  <p>Cerca e gestisci i tuoi libri preferiti</p>
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="query"
      (input)="onSearch()"
      placeholder="Cerca libri..."
    />
    <button>
      <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" alt="Search Icon" />
    </button>
  </div>
  <div class="mt-3">
    <a routerLink="/search" class="btn btn-secondary">Torna ai Filtri di Ricerca</a>
  </div>


<p *ngIf="isLoading">Caricamento...</p>

<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
<div class="book-list-container">
  <ul *ngIf="filteredBooks.length > 0">
    <li *ngFor="let book of filteredBooks">
      <strong>Titolo:</strong> {{ book.title }} <br />
      <strong>Autore:</strong> {{ book.author }} <br />
      <strong>Generi:</strong> {{ book.categories.join(', ') }}
    </li>
  </ul>
</div>
  <p *ngIf="filteredBooks.length === 0 && query">Nessun risultato trovato</p>
</div>
</body>
</html>