<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLibrary</title>
    <link rel="preload" href="home.component.scss" as="style">
    <link rel="stylesheet" href="home.component.scss">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div id="sb-navigation">
    <header class="header">
        <div class="logo">MYLIBRARY</div>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a routerLink="/services">Services</a>
            <a href="#how-it-works">How It Works</a>
            <ng-container *ngIf="userName; else guestNav">
                <span>Welcome, {{userName}}</span>
                <button (click)="onLogout()" class="login-btn">Logout</button>
            </ng-container>
            <ng-template #guestNav>
                <button routerLink="/login" class="login-btn">Login</button>
            </ng-template>
        </nav>
    </header>
  </div>
    <div id="sb-page-structure">
        <section id="home" class="hero-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>MyLibrary</h1>
                        <p>Cerca e gestisci i tuoi libri preferiti</p>
                        <a href="#services" class="btn btn-success">View Services</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
