<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLibrary</title>
    <link rel="preload" href="home.component.scss" as="style">
    <link rel="stylesheet" href="home.component.scss">
</head>
<body>
  <div id="sb-page-structure">
    <section id="home" class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>MyLibrary</h1>
                    <p>Cerca e gestisci i tuoi libri preferiti</p>
                    <a routerLink="/services" class="btn btn-success">View Services</a>
                </div>
            </div>
        </div>
    </section>
  </div>
</body>
</html>
