* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-style: normal;
    font-family: Poppins; 
    line-height: 1.5;
    letter-spacing: 0px;
    text-transform: none;
}

body {
    background-color: #ffffff;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}
.hero-section h1 {
    font-size: 48px ;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 20px ;
    margin-bottom: 20px;
}

.hero-section .hero-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.hero-section .hero-btn:hover {
    background-color: #218838;
}

.hero-section {
    display: flex;
    background-color: #162415;
    min-height: 80vh;
    align-items: center;
    color: #fff;
    flex-direction: row;
}

.hero-section .container{
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-section .container .row{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0;
    align-items: center;
    width: 100%;
}

.hero-section .container .row .col{
    flex: 0 0 100%;
    padding: 0 10px;
    position: relative;
}
  

  @media screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column; 
        justify-content: center;
        text-align: center; 
    }

    .hero-section h1 {
        font-size: 32px; 
        line-height: 1.2; 
        margin-bottom: 10px;
    }

    .hero-section p {
        font-size: 18px; 
        margin-bottom: 15px;
    }

    .hero-section .container .row {
        padding: 20px 0; 
    }
  }

  @media screen and (max-width: 480px) {
    .hero-section h1 {
        font-size: 24px; 
    }

    .hero-section p {
        font-size: 16px; 
    }
}
